<div class="hero overlay" style="background-image: url('assets/images/background3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 ml-auto">
                <h1 class="text-white"></h1>
                <p>Pâtisserie traditionnelle américaine (tout est fait maison), Salon de thé, Coffee Shop. Petite restauration (Bagels, Club Sandwich et salades). Sur place ou à emporter. Le Cake Store vous accueille dans un cadre typiquement tradicional
                </p>
                <div id="date-countdown"></div>
                <p>
                   
                </p>
            </div>
        </div>
    </div>
</div>



