<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>Contact us</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">205552201</a></li>
                        <li><a href="#">cakepastry@ss.com </a></li>
                        <li><a href="#">13 rue vanille 2008</a></li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>Heurs</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">9h a 21h</a></li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>LES SERVICES</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Expédition</a></li>
                        <li><a href="#">Personnalisation de gâteaux</a></li>
                        <li><a href="#">Livraison</a></li>
                        <li><a href="#">Conseil</a></li>
                       
                    </ul>
                </div>
            </div>
  
            <div class="col-lg-3">
                <div class="widget mb-3">
                    <h3>Social</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
  
        </div>
  
        <div class="row text-center">
            <div class="col-md-12">
                <div class=" pt-5">
                    <p>
                        
                        <script>
                            document.write(new Date().getFullYear());
                       
              </script>
                    </p>
                </div>
            </div>
  
        </div>
    </div>
  </footer>