
<div class="hero overlay" style="background-image: url('assets/images/spices.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Signup</h1>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="signupForm">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Nom">
                    </div>
                    <div *ngIf="signupForm.controls['firstName'].invalid && 
                    (signupForm.controls['firstName'].touched || 
                    signupForm.controls['firstName'].dirty)">
                        <div *ngIf="signupForm.controls['firstName'].errors.required" style="color: red;">
                            First Name is required
                        </div>
                        <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color: red;">
                            First Name must have at least 5 chars
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Prenom">
                    </div>
                    <div *ngIf="signupForm.controls['lastName'].invalid && 
                    (signupForm.controls['lastName'].touched || 
                    signupForm.controls['lastName'].dirty)">
                        <div *ngIf="signupForm.controls['lastName'].errors.required" style="color: red;">
                            Last Name is required
                        </div>
                        <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color: red;">
                            Last Name must have at least 3 chars
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="email" placeholder="Email">
                    </div>
                    <div *ngIf="signupForm.controls['email'].invalid && 
                    (signupForm.controls['email'].touched || 
                    signupForm.controls['email'].dirty)">
                        <div *ngIf="signupForm.controls['email'].errors.required" style="color: red;">
                            Email is required
                        </div>
                        <div *ngIf="signupForm.controls['email'].errors.email" style="color: red;">
                            Email format is invalid
                        </div>
                    </div>
                    <div style="color: red;">
                        {{emailErr}}
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="pwd" placeholder="Mot de passe">
                    </div>
                    <div *ngIf="signupForm.controls['pwd'].invalid && 
                    (signupForm.controls['pwd'].touched || 
                    signupForm.controls['pwd'].dirty)">
                        <div *ngIf="signupForm.controls['pwd'].errors.required" style="color: red;">
                            Pwd is required
                        </div>
                        <div *ngIf="signupForm.controls['pwd'].errors.minlength" style="color: red;">
                            Pwd must have at least 6 chars
                        </div>
                        <div *ngIf="signupForm.controls['pwd'].errors.maxlength" style="color: red;">
                            Pwd must have at most 12 chars
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="confirmPwd"
                            placeholder="Confirm Pwd">
                    </div>
                    <div *ngIf="signupForm.controls['confirmPwd'].invalid && 
                    (signupForm.controls['confirmPwd'].touched || 
                    signupForm.controls['confirmPwd'].dirty)">
                        <div *ngIf="signupForm.controls['confirmPwd'].errors.pwdError" style="color: red;">
                            Confirm Pwd does not match PWD
                        </div>
                    </div>
                   <!-- <div class="form-group">
                        <input type="file" class="form-control">
                    </div>-->
                    <div class="form-group">
                        <button type="submit" (click)="signup()" class="btn btn-primary py-3 px-5">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

   <!-- {{signupForm.value | json}}
    {{signupForm.valid | json}}-->
</div>