

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="hero overlay" style="background-image: url('assets/images/anniversaire.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 mx-auto text-center">
            <h1 class="text-white">Blog Posts</h1>

            <p></p>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="container site-section">
      <div class="row">
        <div class="col-6 title-section">
          <h2 class="heading">Latest Blog</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
             <img src="assets/images/blog1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="text">
              
              <h3 class="mb-4"><a href="#">Savoir-faire</a></h3>
              <p></p>
              <p>Nos pâtisseries sont fabriquées selon un savoir-faire unique avec des ingrédients sélectionnés avec soin.

                Nos desserts jouent sur la superposition malicieuse des saveurs et des textures pour vous offrir une expérience gustative originale et unique</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
             <img src="assets/images/blog2.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="text">
            
              <h3 class="mb-4"><a href="#">Nos créations individuelles</a></h3>
              <p>Quand une envie soudaine d’un délicieux gâteau vous prend, il n’y a rien de plus gourmand que nos créations individuelles. Un voyage culinaire aux notes délicieuses.

                Découvrez notre gamme complète en boutique !</p>
             </div>
          </div>
        </div>

        <div class="col-lg-4 mb-4">
          <div class="custom-media d-block">
            <div class="img mb-4">
              <img src="assets/images/blog3.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="text">
          
              <h3 class="mb-4">Nos entremets</h3>
              <p>
                Nos entremets soigneusement préparés et joliment décorés, donneront du charme à vos occasions spéciales. Un délice pour le palais et un plaisir pour les yeux.
                
                Découvrez notre gamme complète en boutique !</p>
           
            </div>
          </div>
        </div>
        
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <div class="custom-pagination">
            <a href="#">1</a>
            
          </div>
        </div>
      </div>
    </div>


    
    





  </div>

